<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bcardback.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{131,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{131,185}</string>
            </dict>
            <key>bcardbigking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{84,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,149}}</string>
                <key>sourceSize</key>
                <string>{84,149}</string>
            </dict>
            <key>bcardbigkingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,426},{19,111}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{19,111}}</string>
                <key>sourceSize</key>
                <string>{23,113}</string>
            </dict>
            <key>bcardblackzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,535},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>bcardblackzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,277},{28,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>bcardblackzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,429},{23,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,40}}</string>
                <key>sourceSize</key>
                <string>{23,42}</string>
            </dict>
            <key>bcardblackzi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,534},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,39}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>bcardblackzi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,481},{25,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,39}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>bcardblackzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,447},{25,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,39}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>bcardblackzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,391},{26,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,40}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>bcardblackzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,363},{26,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>bcardblackzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,481},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>bcardblackzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,537},{24,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,38}}</string>
                <key>sourceSize</key>
                <string>{26,42}</string>
            </dict>
            <key>bcardblackzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,404},{23,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,40}}</string>
                <key>sourceSize</key>
                <string>{25,44}</string>
            </dict>
            <key>bcardblackzi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,335},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>bcardblackzi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,511},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,39}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>bcardbluej.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,265},{106,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,152}}</string>
                <key>sourceSize</key>
                <string>{106,152}</string>
            </dict>
            <key>bcardbluek.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{108,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,151}}</string>
                <key>sourceSize</key>
                <string>{108,151}</string>
            </dict>
            <key>bcardblueq.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,297},{105,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,152}}</string>
                <key>sourceSize</key>
                <string>{105,152}</string>
            </dict>
            <key>bcardcaohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{73,93}</string>
            </dict>
            <key>bcardcaohuazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,206},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>bcardfangpian.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,77},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>bcardfangpianzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,552},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>bcardfront.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,135},{128,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,177}}</string>
                <key>sourceSize</key>
                <string>{128,177}</string>
            </dict>
            <key>bcardheitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,447},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>bcardheitaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,241},{34,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>bcardhongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,488},{73,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{73,81}</string>
            </dict>
            <key>bcardhongtaozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,454},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>bcardlittleking.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{86,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,150}}</string>
                <key>sourceSize</key>
                <string>{86,150}</string>
            </dict>
            <key>bcardlittlekingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,404},{20,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,111}}</string>
                <key>sourceSize</key>
                <string>{22,113}</string>
            </dict>
            <key>bcardredj.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,143},{107,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,152}}</string>
                <key>sourceSize</key>
                <string>{107,152}</string>
            </dict>
            <key>bcardredk.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,373},{106,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,151}}</string>
                <key>sourceSize</key>
                <string>{106,151}</string>
            </dict>
            <key>bcardredq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{104,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,155}}</string>
                <key>sourceSize</key>
                <string>{104,155}</string>
            </dict>
            <key>bcardredzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,509},{24,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>bcardredzi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,481},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,39}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>bcardredzi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,419},{25,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>bcardredzi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,527},{23,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,39}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>bcardredzi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,508},{24,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{24,39}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>bcardredzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,176},{28,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,51}</string>
            </dict>
            <key>bcardredzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,307},{26,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>bcardredzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,498},{27,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>bcardredzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,265},{28,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>bcardredzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,521},{24,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,38}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>bcardredzi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,472},{24,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>bcardredzi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,481},{26,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,39}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>bcardredzi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,446},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{24,40}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,220}}</string>
                <key>sourceSize</key>
                <string>{172,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DDZ_MainGame.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:583dba28b6fbaf8c668a957e5c673fe8$</string>
            <key>textureFileName</key>
            <string>DDZ_MainGame.png</string>
        </dict>
    </dict>
</plist>
