<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mt_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1},{134,214}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{134,214}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>mt_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{140,216}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{140,216}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>mt_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,305},{146,208}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{146,208}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>mt_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,305},{150,206}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{150,206}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>mt_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,154},{150,208}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{150,208}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>mt_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{152,212}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{152,212}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
            <key>mt_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,218},{150,214}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{150,214}}</string>
                <key>sourceSize</key>
                <string>{160,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chooserole_mt_part1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:220870220cd8692c1246fbaa2c0b5820$</string>
            <key>textureFileName</key>
            <string>chooserole_mt_part1.png</string>
        </dict>
    </dict>
</plist>
